# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
tokens/key.json
ContactsAdder - New Contacts.csv
src/main/.DS_Store
src/.DS_Store
src/main/.DS_Store
.DS_Store
